/* cores */
:root {
  --cinza-claro: rgb(35, 35, 36);
}
/* fim cores */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
h1,h2,h3,h4,h5,h6{font-family: 'Play', sans-serif;}
p,a,li{font-family: 'Rajdhani', sans-serif;}
p, span{font-size: 18px;}
h2, h5 {text-align: center;}
h2 {  font-size: 32px; }
.fixed {position: fixed !important;
  width: 100%;
  bottom: 0;
  z-index: 20;
  position: relative;}
#header {justify-content: center; background: #131512; }
.navbar-nav .nav-item a{color: #fff !important;}
.navbar-dark {background: #131512; }
.navbar-dark ul {display: flex; justify-content: center; }
.navbar-dark ul li { display: flex;
      align-items: center;
      text-transform: uppercase; }
/* .navbar-dark ul li:hover {background: #772704;} */
.navbar-dark ul li a {color: #f1faee; }
.navbar-dark ul li a:hover {color: #f1faee; }

/*PESSOAL */ 
.pessoal {
  background: url(https://dansilvag3.github.io/Portfolio/assets/img/escritorio.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pessoal .card {
    position: relative;
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-radius: 20px;
    border: none; }
/*CARDS*/
.card { position: relative;
  width: 300px;
  height: 280px;
  overflow: hidden;
  border: none; }
input,.toggle {color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 12px;
  right: 14px;
  outline: none;
  z-index: 10; }
input {opacity: 0; }
.toggle {pointer-events: none;
  border-radius: 50%;
  background: #201f1f;
  transition: 0.5s;
  text-align: center;
  line-height: 42px;
  font-size: 36px; }
input:checked ~ .toggle {box-shadow: 0 0 0 500px #fff;
  transform: rotate(200deg); }
.imgBx,.details { position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.details { padding: 10px;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }
  .details h2 { color: #000; }
  .details span { color: #000; }
  .details ul {padding-left: 10px;padding-top: 10px; }
  .details ul li {list-style: none; }

input:checked ~ .details {opacity: 1;transition-delay: 0.5s; }

h1 {
  text-align: center;
  color: #9801df;
  font-size: 24px;
}
/*objetivo profissional*/
.obj-profissional {height: auto;
  /* background: linear-gradient(510deg, #fff, #f3dbbc, #e9ecef, #dee2e6); */
  /* background-size: 400% 400%; */
  /* animation: BackgroundGradient 10s ease infinite;  */
  padding: 40px 0;}
.obj-profissional p{text-align: center;
      color: #fff;
      margin: 0;}
.obj-profissional a:hover{text-decoration: none;}
.obj-profissional .desc{justify-content: center;
  display: flex;
  background: #fff;
  padding: 10px;}
.obj-profissional .desc h6{width: 320px;}
.objetivo-profissional2 {width: 600px;
    background: var(--cinza-claro);
    padding: 10px;
    text-align: center;
    border-radius: 5px;}

i.fa-github,i.fa.fa-linkedin,i.fa.fa-file {font-size: 40px;color: #9801df;padding: 10px;}

@keyframes BackgroundGradient {
  0% {background-position: 0% 50%; }
  50% {background-position: 100% 50%; }
  100% {background-position: 0% 50%; } 
}

.obj-profissional .objetivo-profissional2 .content-contact {
  display: flex;
  /* border: 1px solid green; */
  justify-content: center;
}
.obj-profissional .objetivo-profissional2 .content-contact .item {
  margin: 16px 16px 0 16px;
}
.obj-profissional .objetivo-profissional2 .content-contact .item a {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    /* border: 1px solid red; */
}





/* tecnologias */
.tools{
  padding: 50px 0;
}
.tools .content-item {
    display: flex;
    justify-content: center;
    flex-wrap: row;
    flex-wrap: wrap;
}
.tools .content-item .item-line {
  margin: 0 16px 16px 16px;
  transition: 0.5s ease-in-out;
}
.tools .content-item .item-line:hover{

  transform:translateY(-5px);
}
.tools .content-item .item-line .item {
  /* border: 1px solid red; */
  text-align: center;
  width: 100px;
  background: var(--cinza-claro);
  padding: 20px 8px 4px 8px;
  border-radius: 0px 30px 0 0px;
}


.tools .content-item .item-line .item img {
  width: 100%;
  height: 50px;
}
.tools .content-item .item-line .item .title {
  font-size: 16px;
  margin: 8px 0 0 0;
}
/* .tools h2.title{
  text-align: center;
} */
.tools .content-item .item-line hr.line{
  margin: 0;
  border: 2px solid #9801df;
}
/* fim - tecnologias */






/*ESCOLARIDADE FORMACAO*/
.formacao {height: auto;
  padding-bottom: 30px;
  padding: 50px 0;
  background: #000; }

.formacao .escolaridade {     }
  .formacao h1 {font-size: 34px; padding: 20px 0;color: #9801df;}
  .formacao h2 { padding: 20px 0;color: #9801df; }
  .formacao p { color: #ffffff; }
.middle {top: 50%;left: 50%; transform: translate(-50%, -50%); background-color: #000; }
.card { width: 340px;height: 230px;border-radius: 10px; }
  .card:hover > .front { transform: perspective(600px) rotateY(-180deg); }
  .card:hover > .card-body {transform: perspective(600px) rotateY(0deg); }
.front, .card-body { text-align: center;
  width: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  background: var(--cinza-claro);
  transition: transform .6s linear; }
.front { transform: perspective(600px) rotateY(0deg); height: 100%; }
.front img {padding-top: 20px;height: 150px;text-align: center; }
.card-body {height: 100%;transform: perspective(600px) rotateY(180deg);}
.card-body h2 { padding-bottom: 20px; }
.card-body ul {padding: 0;padding-top: 28px;     }
.card-body ul li {list-style: none; margin-bottom: 0; }
.card-body ul li p {padding: 0; margin-bottom: 0; }
.back-content {color: #2c3e50;text-align: center; width: 100%; }
/*EXPERIENCIA PROFISSIONAL*/
.experiencia {padding: 50px 0; background: var(--cinza-claro); }
.content-box {width: 600px; height: auto; }
.content-box ul {
    background: #000;
    padding: 10px 15px;
    border-radius: 5px;
    list-style-type: none; }
    .content-box ul li .title {
      font-weight: bold; 
      color: #ffffff; }
.content-box span{color: #ffffff;}
.content-box h2{padding: 20px 0;color: #9801df;}
/*TRABALHOS*/
.trabalho { background: var(--cinza-claro);
  height: auto;
  max-height: auto;
  padding: 50px 0;
  text-align: center; }
  .trabalho h2 {color: #9801df; }
  .trabalho a { color: #D4AF37;font-size: 20px; }
    .trabalho a:hover { text-decoration: none; }
.trabalhos{justify-content: center;}
.trabalho .trabalhos{width: 100%; display: flex; flex-wrap: wrap;}
.trabalho .trabalhos .unid-trabalho{
  width: 310px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 30px;
  border-radius: 20px;}
.trabalhos .foto-trabalho{
  width: 300px;
  background: #9801df;
  height: 200px;
  max-height: 200px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;}
.trabalhos .foto-trabalho .img-trabalho{
  object-fit: cover;
  width: 300px;
  height: 200px;
  border-radius: 0px 20px 0px 0px;}
.trabalhos .desc-trabalho{
  width: 300px;
  background: #000;
  margin: 0 5px; 
  padding: 10px;
  height: auto;}
.trabalhos .desc-trabalho h4{font-weight: bold;color:#9801df;}
.trabalhos .desc-trabalho p{ margin: 0;font-weight: bold;color:red;}
.trabalhos .desc-trabalho ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin:0;}
.trabalhos .desc-trabalho ul li {
  /* background: gray;  */
    padding: 0 10px;
    margin: 5px;
    border-radius: 20px;
    color: #000;
    border: 1px solid gray;
  }
.trabalhos .desc-trabalho .p-desc{
  font-weight: bold;
  color: #000;
  font-size: 16px;
  padding: 10px 0; }
.desc-trabalho .p-desc-b{
  padding-top: 20px;
  color: #000;
  font-size: 16px;}
.trabalho .trabalhos .unid-trabalho h3{ color: #000;}
.trabalho .funcoes{
  width: 400px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  margin-top: 50px;}
.trabalho .funcoes h3{padding: 10px;}
.trabalho .funcoes ul li{text-align: left;}

/*CURSOS*/
.cursos-2{
  padding-bottom: 100px;
}
.cursos-2 .w3-content {
  justify-content: center;
  display: flex;
}
.cursos-2 .w3-content .mySlides {
  width: 600px;
}
.cursos-2 .w3-row-padding {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.cursos-2 .w3-row-padding img{
  width: 200px;
}
/* .curso { padding: 50px 0 50px 0;  background: #fff; }
  .curso h2 { color: #000; }
  .curso h4 {padding: 10px 0; }
  .curso .ano { text-decoration: italic; }
.conteudo-curso .conteudo {
  background: white;
  border-radius: 5px;
  padding-left: 15px;
  margin-right: 5px;
  height: 185px;
  max-height: 200px; }
  .conteudo-curso .conteudo:hover {
    
    transform: scale(1.1);
    transition: 0.9s; }
    .conteudo-curso .conteudo:hover h4 {
      color: #000; }
    .conteudo-curso .conteudo:hover p {
      color: #000; }

.conteudo-curso{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}
.conteudo-curso .item{margin: 10px;}
.curso .conteudo-curso .item img{width: 280px;  height: 160px; object-fit: cover;} */
/*RESPONSIVE*/
.navbar-toggler-icon {COLOR: #fff!important; }
.navbar-toggler {background: #fff; }
.navbar-brand { border-radius: 10px;
  padding: 5px;
  color: #D4AF37; }
  .navbar-brand:hover {
    background: #000;
    color: #D4AF37;
    padding: 5px; }

.navbar-collapse ul li { padding: 10px 0; }
.navbar-collapse ul li a { padding: 0; }
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:70px;
  right:15px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;}
.my-float{ margin-top:16px;}

/*QUERIES*/
/*405 para baixo aumenta o espaçamento*/
@media (max-width: 576px) {

  /* tecnologias */
  .tools .content-item .item-line {
    margin: 0 8px 16px 8px;
  }
  .tools .content-item .item-line .item{
    width: 80px;
  }  
  .tools .content-item .item-line .item img {
    height: 30px;
  }
  .tools .content-item .item-line .item .title{
    font-size: 12px;
  }
}

@media screen and (max-width: 424px) {
  .trabalho{ height: auto; }


}

/*768 para cima esconder menu1*/
@media screen and (min-width: 992px) {
  .navbar-brand { display: none; } 
}
@media screen (max-width: 992px) {
  .navbar-collapse ul li{ padding: 20px 0!important;  }
  
}
/*767 PARA BAIXO TIRA PADDING */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .video-overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 20px;
    left: 20px; }
    .video-overlay h2 {padding-top: 5px; padding-bottom: 5px; } 
  }
@media screen and (max-width: 768px) {
  .conteudo-curso .conteudo:hover { transform: scale(1); }
  .content_formacao {padding: 20px; }
  .video-overlay {
    position: absolute;
    right: 20px;
    left: 20px; }
    .video-overlay h2 {
      padding-top: 5px;
      padding-bottom: 5px; } 
  .cursos-2 .w3-content .mySlides {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .cursos-2 .w3-row-padding img {width: 100px;}
}